---
layout: default
footer: false
---

<div class="home">

    <div id="main" class="call-out homecall" style="">
        <div class="title">
            <h3>{{ site.header_top }}</h3>
            <h1> {{ site.header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>"}} </h1>
            <small>{{ site.header_bottom }}</small>
    </div>
</div>

    